#content #messages {
    max-width: 100%;
    line-break: anywhere;
}

#content #messages div {
    width: 100%;
    display: flex;
    word-break:keep-all;
    flex-wrap: wrap;
}
#content #messages div p {
    border-radius: 5px;
    padding: 5px;
    margin: 2px 0;
    /* display: flex; */
    justify-content: center;
    max-width: 80%;
}

.system {
    text-align: center;
    background-color: #A9BDCE;
    margin: 2px 0;
}
.system p {
    padding: 0 !important;
    width: 100%;
    max-width: 100% !important;
}

.system .loadable {
    margin-left: 5px;
    cursor: pointer;
    border: 1px solid;
    border-width: 0 0 1px 0;
}

.profile-box img {
    width: 30px;
    height: 30px;
    border-radius: 30%;
    cursor: pointer;
}

.msg-self {
    justify-content: flex-end;
}
.msg-self p {
    background-color: #FFEB33;
}
.msg-other {
    justify-content: flex-start;
}
.msg-other p {
    background-color: #fff;
}

#messages div p img {
    width: 20px;
    height: 20px;
}
.only-emoji {
    background-color: #B2C7D9 !important;
    padding: 0 !important;
}
.only-emoji img {
    width: 100px !important;
    height: 100px !important;
    margin-left: 10px;
}


/* timestamp */
.msg-self > span, .msg-other > span {
    font-size: 12px;
    color: #555;
    display: flex;
    margin: 0 3px;
}
.msg-self > span > span, .msg-other > span > span {
    display: inline-block;
    align-self: flex-end;
}


/* type 2: image */

.image img {
    width: 200px !important;
    height: 200px !important;
    cursor: pointer;
    border-radius: 5px; 
}