<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="303578995366-k5s7056t1094rev0jh5ctb3s4cvptbhh.apps.googleusercontent.com">
    
    <!-- google login -->
    <link rel="stylesheet" href="/css/main/main.css">
    <link rel="stylesheet" href="/css/main/chat.css">
    <link rel="stylesheet" href="/css/main/friend-tab.css">
    
    <meta property="og:image" content="/views/imgs/favicon.ico">
    <meta property="og:description" content="Chat">
    <link rel="icon" type="image/x-icon" href="/views/imgs/favicon.ico">
    <title>Chat</title>
</head>
<body>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <div id="content">
        <form id="nickForm">
            <input type="text" placeholder="write nick">
            <button>send msg</button>
        </form>
        <div id="chatScreen">
            <div id="menu">
                <div id="friend">
                    <img src="/views/imgs/friend.png">
                </div>
                <div id="chat">
                    <img src="/views/imgs/chat-focus.png">
                </div>
            </div>
            <div id="tabs">
                <div id="friend-tab" hidden>
                    <div id="friend-tab-text">
                        칭구
                        <div id="friend-icons">
                            <img id="search-friend" src="/views/imgs/search-friend.png">
                            <img id="add-friend" src="/views/imgs/add-friend.png">
                        </div>
                    </div>
                    <div>
                        <div id="my-profile">
                            <img>
                            <div>
                                <span id="my-name">Anonymous</span>
                                <span id="my-id" title="copy"></span>
                                <span id="copied" hidden>copied!</span>
                            </div>
                        </div>
                        <div id="view-friend">
                            <span id="friend-len">친구 <span>0</span></span>
                            <div id="friend-list">
                                
                            </div>
                        </div>
                    </div>
                    <div id="add-friend-tab" hidden>
                        <div id="add-friend-tab-title">
                            <span>칭구 추가</span>
                            <span>x</span>
                        </div>
                        <form>
                            <input type="text" placeholder="입력">
                            <button>검색</button>
                        </form>
                        <div id="search-result"></div>
                    </div>
                </div>
                <div id="chat-tab">
                    <div id="view-messages">
                        <div>
                            <div id="messages"></div>
                        </div>
                    </div>
                    <div id="reply-to" hidden>
                        <div id="for-padding">
                            <div id="for-width">
                                <div>
                                    <span id="reply-to-nick">에게 답장</span>
                                    <span id="reply-to-msg"></span>
                                </div>
                                <span id="quit">x</span>
                            </div>
                        </div>
                    </div>
                    <form id="msgForm" spellcheck="false">
                        <div id="div-txt">
                            <textarea type="text"></textarea>
                            <div id="msgFormMenu">
                                <div id="emoji" title="이모티콘 종류 보기">
                                    😀
                                    <div id="emoji-tab" hidden>
                                        <div>이모티콘 목록</div>
                                        <div id="emoji-tab-view"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="div-btn">
                            <button>전송</button>
                        </div>
                    </form>
                    <img src="/views/imgs/godown.png" id="godown" hidden>
                </div>
            </div>
        </div>
    </div>
    
    <div id="help">
        <span>
            <a href="https://github.com/taeseong14/chat" target="_blank">Github</a>
        </span>
        <span>
            <a href="https://github.com/taeseong14/chat/issues/new" target="_blank">Bug Report</a>
        </span>
        <span>
            <a href="/commits" target="_blank">Commit List</a>
        </span>
    </div>
    
    <div id="context-menu" hidden>
        <div id="copy" class="item">
            복사
        </div>
        <hr>
        <div id="del" class="item">
            [성빈됨] 삭제
        </div>
        <hr>
        <div id="reply" class="item">
            답장
        </div>
    </div>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/module/fetch.js"></script>
    <script src="/js/main/main.js"></script>
    <script src="/js/main/design.js"></script>
</body>
</html>