<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Document</title>
</head>
<body>
    <a href="/signin">sign in</a>
    <div id="content">
        <form id="nickForm">
            <input type="text" autofocus placeholder="write nick">
            <button>send msg</button>
        </form>
        <div id="messages"></div>
        <form id="msgForm">
            <textarea type="text" ></textarea>
            <button>전송</button>
        </form>
    </div>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/post.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>