<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="shortcut icon" href="/views/imgs/friend.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/profile.css">
    <title>My Profile</title>
</head>
<body>
    <h1>Profile</h1>
    <div>
        <img id="profileImg">
        <div>
            <p>
                <span id="nick">Anonymous</span>
                <button>닉네임 변경</button>
            </p>
            <p>
                <span id="id">#id</span>
                <button hidden>id 변경 (1회 한정)</button>
            </p>
        </div>
    </div>
    <script src="/js/profile.js"></script>
</body>
</html>