<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <div>sign in</div>
        <div><input requir  ed type="text" placeholder="email / username"></div>
        <div><input required type="password" placeholder="password"></div>
        <button>log in</button>
        <div>no account? <a href="/signup">sign up</a></div>
    </form>
    <script src="/js/signin.js"></script>
</body>
</html>