html, body {
    width: 100vw !important;
}

body {
    background-color: #f5f5f5;
}

body > a {
    position: absolute;
    width: 100px;
    top: 10px;
    right: 10px;
    text-align: right;
}

#content #msgForm {
    bottom: 30px;
    text-align: center;
}
#content #msgForm textarea {
    border: none;
}
#content #msgForm textare:focus {
    outline: none;
}
#content #msgForm button {
    border: none;
    background-color: #FFEC42;
}

#content #messages {
    width: 40%;
    height: 450px;
    overflow-y: scroll;
    margin: 100px auto 0 auto;
    border-radius: 5px;
    padding: 10px;
    background-color: #B2C7D9;
}

#content #messages div {
    width: 100%;
    display: flex;
}
#content #messages div p {
    /* width: 10%; */
    border-radius: 10px;
    padding: 4px;
    margin: 3px 0;
}

.system {
    text-align: center;
    background-color: #A9BDCE;
}
.system p {
    width: 100%;
}
.msg-self {
    justify-content: flex-end;
}
.msg-self p {
    background-color: #FFEB33;
}
.msg-other {
    justify-content: flex-start;
}
.msg-other p {
    background-color: #fff;
}